{% extends "base.html" %}

{% block content %}

<div class="page header">
    <h2><i class="fa fa-ra"></i> Lista Ativa <i class="fa fa-empire"></i></h2>
        <!--{{ coagris_tb }}-->
        <p>
            <!-- botões de controle de collapse -->
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lista_ativa" aria-expanded="false" aria-controls="collapseExample">
                Itens da Lista Ativa
            </button>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#locais" aria-expanded="false" aria-controls="collapseExample">
                Itens por Local
            </button>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#coagris" aria-expanded="false" aria-controls="collapseExample">
                Itens por CoAgri
            </button>
        </p>
        <div class="collapse" id="lista_ativa">
          <!--<div class="card card-body"> Ftaghn </div>-->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Disponível</th>
                        <th>Item</th>
                        <th class="text-center">Oferta</th>
                        <th class="text-center">Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in ativa_tb %}
                        <tr>
                            <td>
                                {% if object.saldo > 0 %}
                                    <i class="fa fa-check-circle ok"></i>
                                {% else %}
                                    <i class="fa fa-minus-circle no"></i>
                                {% endif %}
                            </td>
                            <td>{{ object.item|title }}</td>
                            <td class="text-center">{{ object.limite }}</td>
                            <td class="text-center">{{ object.saldo }}</td>
                        </tr>
                    {% empty %}
                        <p class="alert alert-warning">Sem Lista Ativa Válida</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="collapse" id="locais">
            <!-- <p>{{ pedidos_item_tb }}</p> -->
            {% regroup locais_tb by retira as retira_tb %}
                {% for retira in retira_tb %}
                <hr>
                    {% if retira.grouper %}
                        <h3><i class="fa fa-check-circle ok"> Retira na Horta</i></h3>
                    {% else %}
                        <h3><i class="fa fa-minus-circle no"> Partilha</i></h3>
                    {% endif %}

                    {% regroup retira.list by higieniza as higieniza_tb %}
                    {% for higieniza in higieniza_tb %}
                        <!--<h4>{{ higieniza.grouper }}</h4>-->
                        {% if higieniza.grouper %}
                            <h4><i class="fa fa-check-circle ok"> Higienizados</i></h4>
                        {% else %}
                            <h4><i class="fa fa-minus-circle no"> Natural</i></h4>
                        {% endif %}

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Qtde</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in higieniza.list %}
                                    <tr>
                                        <td>{{ item.nomeitem|title }}</td>
                                        <td>{{ item.soma }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                {% endfor %}
        </div>
        <div class="collapse" id="coagris">
          <!--<div class="card card-body"> Ftaghn </div>-->
            {% regroup coagris_tb by retira as retira_tb %}
                {% for retira in retira_tb %}
                <hr>
                    {% if retira.grouper %}
                        <h3><i class="fa fa-check-circle ok"> Retira na Horta</i></h3>
                    {% else %}
                        <h3><i class="fa fa-minus-circle no"> Partilha</i></h3>
                    {% endif %}

                    {% regroup retira.list by higieniza as higieniza_tb %}
                    {% for higieniza in higieniza_tb %}
                        <!--<h4>{{ higieniza.grouper }}</h4>-->
                        {% if higieniza.grouper %}
                            <h4><i class="fa fa-check-circle ok"> Higienizados</i></h4>
                        {% else %}
                            <h4><i class="fa fa-minus-circle no"> Natural</i></h4>
                        {% endif %}

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Coagri</th>
                                    <th>Item</th>
                                    <th>Qtde</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in higieniza.list %}
                                    <tr>
                                        <td>{{ item.coagri|title }}</td>
                                        <td>{{ item.nomeitem|title }}</td>
                                        <td>{{ item.total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                {% endfor %}
        </div>

</div>

{% endblock content %}