{% extends "base.html" %}

{% load wiget tweaks %}

{% block content %}

<form method="POST" novalidate>
    {% csrf token %}
    {% for field in form.visible_fields %}
        <div class="form group{% if fields.error %} has-error {% endif %}">
            <label for="{{ field.id_for_label }}">
                {% if field.field.required %}
                    <span class="required">{{ field.label }}</span>
                {% else %}
                    {{ field.label }}
                {% endif %}
            </label>
            {% render_field field class="form-control" %}
            {% for error in field.errors %}
                <span class="class text-muted">{{ error }}</span>
            {% endfor %}
        </div>
    {% empty %}
        <p class="alert alert-warning">Formulário Inválido</p>
    {% endfor %}
    <button type="submit" class="btn btn-success">Cadastrar</button>
</form>

{% endblock content %}