<!--https://getbootstrap.com/docs/4.0/components/navbar/ -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Listas & Pedidos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!--a class="nav-link" href="#">Login</a-->
        <a class="nav-link" href="{% url 'core:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'estoque:estoque_entrada_add' %}">Criar Lista</a>
          </li>
      {% endif %}
      {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'estoque:pedido_update' %}">Fazer Pedido</a>
          </li>
      {% endif %}
      {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Relatórios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'estoque:lista_ativa' %}">Separação Horta</a>
              <a class="dropdown-item" href="#">Pedidos por Coagri</a>
              <a class="dropdown-item" href="#">Pedidos por Local</a>
              <div class="dropdown-divider">Histórico</div>
              <a class="dropdown-item" href="{% url 'estoque:estoque_entrada_list' %}">Listas</a>
              <a class="dropdown-item" href="{% url 'estoque:estoque_saida_list' %}">Pedidos</a>
            </div>
          </li>
      {% endif %}
      {% if user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'admin:auth_user_changelist' %}">Usuários e Coagris</a>
              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Home</a>
            </div>
          </li>
      {% endif %}

    </ul>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a href="{% url 'password_reset' %}" class="nav-link">Mudar a Senha</a>
        </li>
    {% if user.is_authenticated %}
        <li class="nav-item text-nowrap">
          <a href="{% url 'logout' %}" class="nav-link">Sair</a>
        </li>
      </ul>
    {% endif %}
  </div>
</nav>