<html>
<body>
	<h3>Prezad@s,</h3>
	<h3>Os {{ lista_itens.count }} itens desta semana já estão disponíveis para Pedido até dia {{ finaliza }}.</h3>
	</br>
	<h4>Acesse <a href="http://www.CSAAtibaia.in">CSAAtibaia</a> para fazer seu pedido.</h4>
    </br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista_itens %}
                <tr>
                    <td>{{ item.produto|title }}</td>
                    <td>{{ item.saldo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

	</br>
	<p>Att,</p>
	<p>Horta CSA</p>

    <img src="https://i.imgur.com/G5XJbQD.jpg" alt="Lista Disponível" height="128" width="128">

</body>

<!--    body = 'Prezad@s, Os itens desta semana já estão disponíveis para Pedido até dia %s.\nAcesse http://www.CSAAtibaia.in para fazer seu pedido.\n\nLista: \n' % (finaliza)
    body = body + '%-*s%s\n' % (25, 'Nome', 'Saldo')
    for item in lista_itens:
        for val in item:
            if str(val) == "0.00":
                val=str("")

            a = '%-*s' % (25, str(val))
            body = body + a

        body = body + '\n'

    body = body + '\nAtt, \nHorta CSA'
    -->