{% extends "base.html" %}

{% block content %}

<div class="page header">
    <h1><i class="fas fa-seedling ok"></i> Lista Ativa <i class="fas fa-leaf ok"></i></h1>
        <p>
            <!-- botões de controle de collapse -->
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lista_ativa" aria-expanded="false" aria-controls="collapseExample">
                Itens Ativos
            </button>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#locais" aria-expanded="false" aria-controls="collapseExample">
                Itens por Local
            </button>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#coagris" aria-expanded="false" aria-controls="collapseExample">
                Itens por CoAgri
            </button>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#coagris2" aria-expanded="false" aria-controls="collapseExample">
                CoAgris por Local
            </button>
        </p>

        <div class="collapse" id="lista_ativa">

            <h2>Itens da Lista Ativa</h2>
          <!--<div class="card card-body"> Ftaghn </div>-->
            {% regroup itens by nome_forn as itens_grouped %}
                {% for itens_tb in itens_grouped %}
                    <h4>{{ itens_tb.grouper|title }}</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th class="text-center">Pedido</th>
                                <th>Sobras</th>
                                <th class="text-center">Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in itens_tb.list %}
                                <tr>
                                    <td>{{ item.produto }}</td>
                                    <td class="text-center">{{ item.qtde }}</td>
                                    <td>
                                        {% if item.saldo > 0 %}
                                            <i class="fa fa-check-circle ok"></i>
                                        {% else %}
                                            <i class="fa fa-minus-circle no"></i>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">{{ item.saldo }}</td>
                                </tr>
                            {% empty %}
                                <p class="alert alert-warning">Sem Lista Ativa Válida</p>
                            {% endfor %}
                        </tbody>
                    </table>
            {% endfor %}
        </div>

        <div class="collapse" id="locais"> <h2>Itens por Locais de Entrega</h2>
            {% regroup locais_tb by entrega_ico as ico_tb %}
                {% for ico in ico_tb %}
                <hr>
                    {% regroup ico.list by entrega as entrega_tb %}
                        {% for entrega in entrega_tb %}
                            {% regroup entrega.list by higieniza as higieniza_tb %}
                            {% for higieniza in higieniza_tb %}
                                <h4>
                                    <i class="{{ ico.grouper }}">{{ entrega.grouper|title }}</i>
                                </h4>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Qtde</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in higieniza.list %}
                                            <tr>
                                                <td>{{ item.nomeitem|title }}</td>
                                                <td>{{ item.soma }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}
                        {% endfor %}
                {% endfor %}
        </div>

        <div class="collapse" id="coagris"> <h2>Itens por Coagri</h2>
          <!--<div class="card card-body"> Ftaghn </div>-->
            {% regroup coagris_tb by entrega_ico as ico_tb %}
                {% for ico in ico_tb %}
                <hr>
                    <h4>
                        <i class="{{ ico.grouper }}">
                    {% regroup ico.list by entrega as entrega_tb %}
                        {% for entrega in entrega_tb %}
                            {{ entrega.grouper|title }}</i>
                            {% regroup entrega.list by higieniza as higieniza_tb %}
                            {% for higieniza in higieniza_tb %}
                                <!--<h4>{{ higieniza.grouper }}</h4>
                                {% if higieniza.grouper %}
                                    <i class="fas fa-shower water"> Pré-Lavados</i>
                                {% else %}
                                    <i class="fas fa-tint-slash ok">In Natura</i>
                                {% endif %}-->
                                </h4>
                                <div class="container">
                                    {% regroup higieniza.list by coagri as item_tb %}
                                    {% for coagri in item_tb %}
                                    <b>{{ coagri.grouper|title }}</b>
                                    <table  class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Qtde</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in coagri.list %}
                                                <tr>
                                                    <td>{{ item.nomeitem|title }}</td>
                                                    <td>{{ item.total }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endfor %}
            {% endfor %}
        </div>

        <div class="collapse" id="coagris2"> <h2>Coagris por Local</h2>
          <!--<div class="card card-body"> Ftaghn </div>-->
            {% regroup coagris_tb by entrega_ico as ico_tb %}
                {% for ico in ico_tb %}
                <hr>
                    <h4>
                        <i class="{{ ico.grouper }}">
                    {% regroup ico.list by entrega as entrega_tb %}
                        {% for entrega in entrega_tb %}
                            {{ entrega.grouper|title }}</i>
                            {% regroup entrega.list by higieniza as higieniza_tb %}
                            {% for higieniza in higieniza_tb %}
                                <!--<h4>{{ higieniza.grouper }}</h4>-
                                {% if higieniza.grouper %}
                                    <i class="fas fa-shower water"> Pré-Lavados</i>
                                {% else %}
                                    <i class="fas fa-tint-slash ok">In Natura</i>
                                {% endif %}-->
                                </h4>
                                <div class="container">
                                    {% regroup higieniza.list by coagri as item_tb %}
                                    {% for coagri in item_tb %}
                                    <b>{{ coagri.grouper|title }}</b></br>
                                    {% endfor %}
                                </div>

                            {% endfor %}
                        {% endfor %}
            {% endfor %}
        </div>
</div>

{% endblock content %}