{% extends "base.html" %}

{% block content %}

<div class="page header">
    <h1><i class="fas fa-seedling ok"></i> Lista Ativa <i class="fas fa-leaf ok"></i></h1>
        <p>
            <!-- botões de controle de collapse -->
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lista_ativa" aria-expanded="false" aria-controls="collapseExample">
                Itens Ativos
            </button>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#locais" aria-expanded="false" aria-controls="collapseExample">
                Itens por Local
            </button>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#coagris" aria-expanded="false" aria-controls="collapseExample">
                Itens por CoAgri
            </button>
        </p>

        <div class="collapse" id="lista_ativa">
            <h2>Itens da Lista Ativa</h2>
          <!--<div class="card card-body"> Ftaghn </div>-->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th class="text-center">Pedido</th>
                        <th>Sobras</th>
                        <th class="text-center">Saldo</th>
                    </tr>
                </thead>
                <tbody>
                {% regroup itens by fornecedor as itens_tb %}
                    {% for item in itens_tb %}
                    <h4>{{ item.grouper|title }}</h4>
                        <tr>
                            <td>{{ item.produto|title }}</td>
                            <td class="text-center">{{ item.qtde }}</td>
                            <td>
                                {% if item.saldo > 0 %}
                                    <i class="fa fa-check-circle ok"></i>
                                {% else %}
                                    <i class="fa fa-minus-circle no"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">{{ item.saldo }}</td>
                        </tr>
                    {% empty %}
                        <p class="alert alert-warning">Sem Lista Ativa Válida</p>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="collapse" id="locais"> <h2>Itens por Locais de Entrega</h2>
            {% regroup locais_tb|dictsort:"entrega" by entrega_ico as ico_tb %}
                {% for ico in ico_tb %}
                <hr>
                    <h4>
                        <i class="{{ ico.grouper }}">
                    {% regroup ico.list|dictsort:"entrega" by entrega as entrega_tb %}
                        {% for entrega in entrega_tb %}
                            {{ entrega.grouper|title }}</i>
                            {% regroup entrega.list by higieniza as higieniza_tb %}
                            {% for higieniza in higieniza_tb %}
                                <!--<h4>{{ higieniza.grouper }}</h4>-->
                                {% if higieniza.grouper %}
                                    <i class="fas fa-shower water"> Pré-Lavados</i>
                                {% else %}
                                    <i class="fas fa-tint-slash ok">In Natura</i>
                                {% endif %}
                            </h4>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Qtde</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in higieniza.list %}
                                            <tr>
                                                <td>{{ item.nomeitem|title }}</td>
                                                <td>{{ item.soma }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endfor %}
                        {% endfor %}
                {% endfor %}
        </div>
        <div class="collapse" id="coagris"> <h2>Itens por Coagri</h2>
          <!--<div class="card card-body"> Ftaghn </div>-->
            {% regroup coagris_tb|dictsort:"entrega" by entrega_ico as ico_tb %}
                {% for ico in ico_tb %}
                <hr>
                    <h4>
                        <i class="{{ ico.grouper }}">
                    {% regroup ico.list|dictsort:"entrega" by entrega as entrega_tb %}
                        {% for entrega in entrega_tb %}
                            {{ entrega.grouper|title }}</i>
                            {% regroup entrega.list|dictsort:"higieniza" by higieniza as higieniza_tb %}
                            {% for higieniza in higieniza_tb %}
                                <!--<h4>{{ higieniza.grouper }}</h4>-->
                                {% if higieniza.grouper %}
                                    <i class="fas fa-shower water"> Pré-Lavados</i>
                                {% else %}
                                    <i class="fas fa-tint-slash ok">In Natura</i>
                                {% endif %}
                                </h4>
                                <div class="container">
                                    {% regroup higieniza.list|dictsort:"coagri" by coagri as item_tb %}
                                    {% for coagri in item_tb %}
                                    </br><h3>{{ coagri.grouper|title }}</h3>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Qtde</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in coagri.list|dictsort:"nomeitem" %}
                                                <tr>
                                                    <td>{{ item.nomeitem|title }}</td>
                                                    <td>{{ item.total }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endfor %}
            {% endfor %}
        </div>

</div>

{% endblock content %}