{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block content %}

<a href="{% url 'estoque:estoque_saida_list' %}">Listagem</a>

<div class="row">
  <div class="cols">
    <label style="border-bottom: 1px solid #e5e5e5;">Pedido: {{ pedido.usuario }} para {{ pedido.finaliza }}</label>
    <b><label style="border-bottom: 1px solid #e5e5e5;">Horta: {{ pedido.total }} de {{ coagri.credito }} | Fornecedores: R${{ pedido.preco_total }}</label></b>
    <form method="POST" novalidate>
      {% csrf_token %}
        {{ itens.management_form }}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="visibility:collapse;">Id</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Saldo</th>
                    <th>$ Unit</th>
                </tr>
            </thead>
            <tbody>
                {% for item in itens %}
                    <tr>
                        <td style="visibility:collapse;">{{ item.id }}</td>
                        <td>{{ item.produto|add_class:"clProduto" }}</td>
                        <td>{% render_field item.quantidade class="clQuantidade" onChange="form.submit();" %}</td>
                        <td>{{ item.instance.saldo }}</td>
                        <td>{{ item.instance.preco }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
  </div>
</div>

{% endblock content %}
{% block js %}

{% endblock js %}