{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block content %}

<a href="{% url 'estoque:estoque_saida_list' %}">Listagem</a>

<h3>Pedido:</h3>
<fieldset disabled="disabled">
    {{ form.usuario }} para {{ form.finaliza.value }}
</fieldset>

<table class="table table-hover">
    <thead>
        {{ formset.management_form }}
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        {% for tabula in formset.forms %}
            {% if forloop.first %}
                {% for campo in tabula %}
                {% endfor %}
            {% endif %}
            <tr>
                <td>{{ tabula.produto }}</td>
                <td>{{ tabula.quantidade }}</td>
                <td>{{ tabula.saldo }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="row float-right">
    <div class="col-sm-12" style="margin-top: 10px;">
      <div class="form-inline buttons">
        <button class="btn btn-primary" value="Save">
            <i class="fa fa-floppy-o"></i>
            Salvar
            </button>
        <a href="{% url 'core:index' %}" class="btn btn-danger">
            <i class="fa fa-times"></i>
            Cancelar
        </a>
      </div>
    </div>
</div>
{% endblock content %}
{% block js %}

<script src="{% static 'js/pedido.js' %}"></script>

<script type="text/html" id="item-estoque">
  <div id="item-__prefix__" class="form-group">
    {{ formset.empty_form|bootstrap }}
  </div>
</script>


{% endblock js %}