{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block content %}

<a href="{% url 'estoque:estoque_saida_list' %}">Listagem</a>

<h3>Pedido:</h3>
<p>
    {{ pedido.usuario }} para {{ pedido.finaliza }}
</p>

{{ itens.management_form }}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        {% for item in itens %}
            {% if forloop.first %}
                {% for campo in tabula %}
                {% endfor %}
            {% endif %}
            <tr>
                <td>
                    {% render_field item.produto class="clProduto" disabled="disabled" %}
                </td>
                <td>{{ item.quantidade|add_class:"clQuantidade" }}</td>
                <td>
                    {% render_field item.saldo class="clSaldo" readonly="readonly" %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row float-right">
    <div class="col-sm-12" style="margin-top: 10px;">
      <div class="form-inline buttons">
        <button class="btn btn-primary" value="Save">
            <i class="fa fa-floppy-o"></i>
            Salvar
            </button>
        <a href="{% url 'core:index' %}" class="btn btn-danger">
            <i class="fa fa-times"></i>
            Cancelar
        </a>
      </div>
    </div>
</div>
{% endblock content %}
{% block js %}

<script src="{% static 'js/pedido.js' %}"></script>

{% endblock js %}