{% extends "base.html" %}

{% block content %}

<h2>{{ titulo }}</h2>

{% if object_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Partilha</th>
        <th>Qtde</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list%}
        <tr>
          <td>{{ object.first_name }}</td>
          <td>{{ object.last_name }}</td>
          <td>{{ object.coagri.partilha }}</td>
          <td>{{ object.coagri.credito }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h4><b>Total:{{ object_list.count }}</b></h4>
{% else %}
  <p class="alert alert-success">Todos pediram!</p>
{% endif %}

{% endblock content %}