{% extends "base.html" %}

{% block content %}

<h2>{{ titulo }}</h2>

{{object_list.as_table}}

{% if object_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Partilha</th>
        <th>Pré-Lavados</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list%}
        <tr>
          <td>{{ object.coagri.partilha }}</td>
          <td>{{ object.coagri.higieniza }}</td>
          <td>{{ object.first_name }}</td>
          <td>{{ object.last_name }}</td>
          <td>{{ object.username }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p class="alert alert-warning">Todos pediram!</p>
{% endif %}

{% endblock content %}